*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
background-image: url('background.jpg');
background-position: center center;
background-size: cover;
min-height: 100vh;
}
h2{
    font-size: 5rem;
    border-top: 2px solid white;
    border-bottom:2px solid white ;
border-radius: 10px;
margin: 20px;
}
.countdown{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    margin-top: 250px;

}
.diwali{
    display: flex;
    justify-content: space-between;
    font-size: 3rem;
}


